* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Inter", sans-serif;
    background: #575263;
  }

  .main-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
    margin: 112px 0 8px 0;
  }
  .main-subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    margin-bottom: 32px;
  }
.sections{
    font-weight: 900;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 25px;
    text-align: center;

}
.image{
    width: max-content;
    height: max-content;
}
.name{
    color: #ffffff;
    text-align: center;
    margin-bottom: 12px;
}
.description{
    text-align: center;
    margin-bottom: 8px;
}
.items{
    color: #ffffff;
    text-align: center;
    margin-bottom: 12px;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .main-title{
    text-align: center;
  }
  .main-subtitle{
    text-align: center;
  }
  .search-box{
    text-align: center;
    box-sizing: border-box;
  }
  /*iPhone*/
  @media (min-width: 300){

  }
 /*Tablet*/
  @media (min-width: 768px) {
    
  }
  
  /* Desktop */
  @media (min-width: 1024px) {
    
  }

 